<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleIdentifier</key>
	<string></string>
	<key>CLIENT_ID</key>
	<string>866685022412-8o9qhfu6e1inct646flt62vnrpls4d39.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.866685022412-8o9qhfu6e1inct646flt62vnrpls4d39</string>
	<key>API_KEY</key>
	<string>AIzaSyAW9ZT7dWy_CRCLdFdRVxd6lp6_t7MQkMs</string>
	<key>GCM_SENDER_ID</key>
	<string>866685022412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ahmed.eshop</string>
	<key>PROJECT_ID</key>
	<string>boucherie-d685b</string>
	<key>STORAGE_BUCKET</key>
	<string>boucherie-d685b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:866685022412:ios:d88fbb688a5480d442d269</string>
	<key>FIREBASE_ANALYTICS_COLLECTION_DEACTIVATED</key>
	<true/>
</dict>
</plist>
